/* * {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
} */

.logo {
    /* width: 150px;
    height: 150px; */
    width: 75%;
    height: 75%;
}

.navbar {
    padding: 0;
    color: #666666;
    /* color: #178A9F; */
    background-color: transparent !important;
    height: 100px;
    
}

.active {
    color: #116A7B;
    font-weight: 600;
    
}

.inactive {
    color: #666666 !important;
    font-weight: var(--bs-nav-link-font-weight) !important;
}

.link_page {
    text-decoration: none;
    padding: 1em;
    font-size: 1.2rem;
    
}

.nav-link {
    color: #666666;
    font-size: 1.5em;
}

.shape {
    width: 100px;
    height: 100%;
}

.shape_rec {
    position: relative;
    width: 100px;
    height: 134px;
    height: 100%;
}

.first {
    position: absolute;
    top: 10;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: #116A7B;
}

.second {
    clip-path: polygon(100% 0, 30% 0, 100% 70%);
    background: #178A9F;
}

.third {
    position: absolute;
    top: 0px;
    clip-path: polygon(100% 0, 60% 0, 100% 40%);
    background: #22B4D0;
}

@media (max-width: 770px) {
    .shape {
        display: none !important;
    }
    .navbar {
        padding: 0;
        color: #666666;
        /* color: #178A9F; */
        background-color: #f5f5ff !important;
        height: unset;
    }
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #7cb5c0;
    outline: 1px solid #116A7B;
    /* outline-style: dashed; */
}